* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
html,body {
	width: 100%;
	height: 100%;
}
div.bottom {
	width: 100%;
	height: 20%;
}
#panel {
	margin-left: 50%;
}
#panel-select {
	margin: 0.2%;
	padding: 0.1%;
}
#info-panel {
	border: solid 2px #1a1a1c;
	background: rgb(200, 200, 200);
	display: inline-block;
	user-select: none;display: inline-block;
}
#control-panel {
	border: solid 2px #1a1a1c;
	background: rgb(200, 200, 200);
	display: inline-block;
	user-select: none;
}
