*{
	margin:0;
	padding:0;
	border:none;
	outline:none;
	overflow:hidden;
}
html,body {
	width:100%;
	height:100%;
}
canvas {
	margin: auto;
	text-align: center;
}
div.bottom{
	width:100%;
	height:20%;
}
